<a href="https://colab.research.google.com/github/pawara101/notebooks/blob/main/sql-bigquery/BigQuery_bquxjob_3c0f475c_1850cf8afd1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'global-doodad-360407' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=global-doodad-360407:US:bquxjob_3c0f475c_1850cf8afd1)
back to BigQuery to edit the query within the BigQuery user interface.

In [3]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_3c0f475c_1850cf8afd1') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT * FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170801` LIMIT 1000

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [ ]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_3c0f475c_1850cf8afd1') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results.head(1)

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a datasetâ€™s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [7]:
results.describe()

      visitorId  visitNumber       visitId  visitStartTime
count         0  1000.000000  1.000000e+03    1.000000e+03
mean       <NA>     2.470000  1.501612e+09    1.501612e+09
std        <NA>     9.413805  2.372394e+04    2.372394e+04
min        <NA>     1.000000  1.501571e+09    1.501571e+09
25%        <NA>     1.000000  1.501593e+09    1.501593e+09
50%        <NA>     1.000000  1.501611e+09    1.501611e+09
75%        <NA>     1.000000  1.501630e+09    1.501630e+09
max        <NA>   153.000000  1.501657e+09    1.501657e+09